In [4]:
# simulate the FIFA World cup 10000 times.

from collections import namedtuple
from itertools import chain, groupby
import csv
import numpy

Match = namedtuple("Match", ['gameId', 'date', 'time', 'team1', 'team2', 'group'])
Prediction = namedtuple("Prediction", ['team1', 'team2', 'outcome'])
Team = namedtuple("Team", ['name', 'draw'])
Result = namedtuple("Result", ['match', 'team1Score', 'team2Score'])
TeamResult = namedtuple("TeamResult", ['name', 'opponent', 'group', 'gs', 'ga'])
TeamRecord = namedtuple("TeamRecord", ['name', 'group', 'p', 'gs', 'ga', 'defeated'])

def loadCsv(filepath, itemtype):
    with open(filepath, 'r') as csvfile:
        reader = csv.DictReader(csvfile, delimiter=',')
        return list(map(lambda row: itemtype(**row), reader))

def getActualGroupMatch(match, teams):
    return Match(gameId = match.gameId, date = match.date, time = match.time, group = match.group,
        team1 = next(team.name for team in teams if team.draw == match.team1),
        team2 = next(team.name for team in teams if team.draw == match.team2),       
        )

def getActualEliminationMatch(match, qualified):
    return Match(gameId = match.gameId, date = match.date, time = match.time, group = match.group,
        team1 = qualified[match.team1],
        team2 = qualified[match.team2],
        )

def getResult(match, predictions):
    allowtie = match.group != None 
    prediction = next(pred for pred in predictions \
        if (pred.team1 == match.team1 and pred.team2 == match.team2) or \
            (pred.team1 == match.team2 and pred.team2 == match.team1)) 
    reverse = prediction.team1 != match.team1
    goaldiff = numpy.random.normal(float(prediction.outcome))
    reverse = reverse != (goaldiff < 0) 
    normgoaldiff = 0 if abs(goaldiff) <= 0.4475 \
        else 1 if abs(goaldiff) < 1 else round(abs(goaldiff))
    if not(allowtie) and normgoaldiff == 0:
        normgoaldiff = 1
    losergoals = round(abs(numpy.random.normal(0, 1)))
    return Result(match, losergoals, losergoals + normgoaldiff) if reverse \
        else Result(match, losergoals + normgoaldiff, losergoals)

def getTeamPerfFromResult(result):
    return [TeamResult(name=result.match.team1, opponent=result.match.team2, group=result.match.group, gs=result.team1Score, ga=result.team2Score),
    TeamResult(name=result.match.team2, opponent=result.match.team1, group=result.match.group, gs=result.team2Score, ga=result.team1Score)]

def getTeamRecord(name, teamResults):
    points = w = d = gs = ga = 0
    group = ''
    defeated = []
    for result in teamResults:
        group = result.group
        gs += result.gs
        ga += result.ga
        if result.gs > result.ga:
            w += 1
            defeated.append(result.opponent)
        elif result.gs == result.ga:
            d += 1
    return TeamRecord(name=name, group=group, p=3*w+d, gs=gs, ga=ga, defeated=defeated)

def runGroupStage(schedule, predictions, teams):
    groupschedule = list(map(lambda x: getActualGroupMatch(x, teams), filter(lambda x: x.group != None, schedule)))
    groupresults = list(map(lambda x: getResult(x, predictions), groupschedule))
    groupperfs = list(chain.from_iterable(map(getTeamPerfFromResult, groupresults)))
    records = []
    for k, g in groupby(sorted(groupperfs, key=lambda x: x.name), key=lambda x: x.name):
        records.append(getTeamRecord(k, g))
    qualified = {}
    for k, g in groupby(sorted(records, key=lambda x: x.group), key=lambda x: x.group):
        grouptable = sorted(g, key=lambda x: 1000000*x.p + 10000*(x.gs-x.ga) + 100*(x.gs), reverse=True)
        qualified['1' + k] = grouptable[0].name
        qualified['2' + k] = grouptable[1].name
    return groupresults, qualified

def runEliminationRound(round, prevround, schedule, predictions):
    roundschedule = list(map(lambda x: getActualEliminationMatch(x, prevround), filter(lambda x: x.gameId.startswith('G'+round), schedule)))
    roundresults = list(map(lambda x: getResult(x, predictions), roundschedule))
    results = {}
    for result in roundresults:
        results['W' + result.match.gameId] = result.match.team1 if result.team1Score > result.team2Score \
            else result.match.team2
        results['L' + result.match.gameId] = result.match.team1 if result.team1Score < result.team2Score \
            else result.match.team2
    return roundresults, results

#main
schedule = loadCsv('C:\\Data_Science\\World Cup 2018\\FIFA real world stats\\wc2018schedule.csv', Match)
predictions = loadCsv('C:\\Data_Science\\World Cup 2018\\FIFA real world stats\\predictionsfinal.csv', Prediction)
teams = loadCsv('C:\\Data_Science\\World Cup 2018\\FIFA real world stats\\wc2018qualified.csv', Team)
#f = open("simresultsfinal.csv", "w+")
#f.write('iteration,winner\n')
#for i in range(20000):
#    results = runGroupStage(schedule, predictions, teams)
#    for rnd in ['AF','QF','SF','FN']:
#        results = runEliminationRound(rnd, results, schedule, predictions)

#    f.write(str(i+1) + ',' + results['WGFN2'] + '\n')

In [33]:
#for i in range(100):
#    groups = runGroupStage(schedule, predictions, teams)

    #print(str(i+1) + ',' + groups + '\n')

import pandas as pd
groupstages = pd.DataFrame()
qualified1 = pd.DataFrame()

for i in range(5):
    results = runGroupStage(schedule, predictions, teams)
    groupstages = groupstages.append(pd.DataFrame(records))
    #groupstages.append(pd.DataFrame(records))
    for rnd in ['AF','QF','SF','FN']:
        results = runEliminationRound(rnd, results, schedule, predictions)

from collections import Counter

groupstages
#Counter(groupstages.values())

TypeError: tuple indices must be integers or slices, not str

In [37]:
for i in range(10):
    groupresults, qualified = runGroupStage(schedule, predictions, teams)
    print(qualified)
    for rnd in ['AF','QF','SF','FN']:
        winners = runEliminationRound(rnd, qualified, schedule, predictions)
        print(winners)

{'1A': 'URU', '2A': 'RUS', '1B': 'IRN', '2B': 'ESP', '1C': 'AUS', '2C': 'FRA', '1D': 'ISL', '2D': 'NGA', '1E': 'SRB', '2E': 'SUI', '1F': 'MEX', '2F': 'KOR', '1G': 'BEL', '2G': 'ENG', '1H': 'SEN', '2H': 'JPN'}
{'WGAF1': 'AUS', 'LGAF1': 'NGA', 'WGAF2': 'ESP', 'LGAF2': 'URU', 'WGAF3': 'IRN', 'LGAF3': 'RUS', 'WGAF4': 'ISL', 'LGAF4': 'FRA', 'WGAF5': 'KOR', 'LGAF5': 'SRB', 'WGAF6': 'BEL', 'LGAF6': 'JPN', 'WGAF7': 'MEX', 'LGAF7': 'SUI', 'WGAF8': 'SEN', 'LGAF8': 'ENG'}

KeyError: 'WGAF1'

In [164]:
tester, tester1 = runGroupStage(schedule, predictions, teams)
tester

[Result(match=Match(gameId='GA1', date='14/06/2018', time='16:00', team1='RUS', team2='KSA', group='A'), team1Score=0, team2Score=1),
 Result(match=Match(gameId='GA2', date='15/06/2018', time='13:00', team1='EGY', team2='URU', group='A'), team1Score=1, team2Score=1),
 Result(match=Match(gameId='GA3', date='19/06/2018', time='19:00', team1='RUS', team2='EGY', group='A'), team1Score=0, team2Score=2),
 Result(match=Match(gameId='GA4', date='20/06/2018', time='16:00', team1='URU', team2='KSA', group='A'), team1Score=1, team2Score=1),
 Result(match=Match(gameId='GA5', date='25/06/2018', time='15:00', team1='URU', team2='RUS', group='A'), team1Score=1, team2Score=0),
 Result(match=Match(gameId='GA6', date='25/06/2018', time='15:00', team1='KSA', team2='EGY', group='A'), team1Score=1, team2Score=0),
 Result(match=Match(gameId='GB1', date='15/06/2018', time='16:00', team1='MAR', team2='IRN', group='B'), team1Score=0, team2Score=0),
 Result(match=Match(gameId='GB2', date='15/06/2018', time='19:00', team1='POR', team2='ESP', group='B'), team1Score=0, team2Score=1),
 Result(match=Match(gameId='GB3', date='20/06/2018', time='13:00', team1='POR', team2='MAR', group='B'), team1Score=1, team2Score=2),
 Result(match=Match(gameId='GB4', date='20/06/2018', time='19:00', team1='IRN', team2='ESP', group='B'), team1Score=1, team2Score=2),
 Result(match=Match(gameId='GB5', date='25/06/2018', time='19:00', team1='ESP', team2='MAR', group='B'), team1Score=0, team2Score=1),
 Result(match=Match(gameId='GB6', date='25/06/2018', time='19:00', team1='IRN', team2='POR', group='B'), team1Score=1, team2Score=1),
 Result(match=Match(gameId='GC1', date='16/06/2018', time='11:00', team1='FRA', team2='AUS', group='C'), team1Score=1, team2Score=2),
 Result(match=Match(gameId='GC2', date='16/06/2018', time='17:00', team1='PER', team2='DEN', group='C'), team1Score=0, team2Score=0),
 Result(match=Match(gameId='GC3', date='21/06/2018', time='13:00', team1='FRA', team2='PER', group='C'), team1Score=0, team2Score=0),
 Result(match=Match(gameId='GC4', date='21/06/2018', time='16:00', team1='DEN', team2='AUS', group='C'), team1Score=1, team2Score=1),
 Result(match=Match(gameId='GC5', date='26/06/2018', time='15:00', team1='DEN', team2='FRA', group='C'), team1Score=0, team2Score=1),
 Result(match=Match(gameId='GC6', date='26/06/2018', time='15:00', team1='AUS', team2='PER', group='C'), team1Score=2, team2Score=1),
 Result(match=Match(gameId='GD1', date='16/06/2018', time='14:00', team1='ARG', team2='ISL', group='D'), team1Score=1, team2Score=3),
 Result(match=Match(gameId='GD2', date='16/06/2018', time='20:00', team1='CRO', team2='NGA', group='D'), team1Score=0, team2Score=0),
 Result(match=Match(gameId='GD3', date='21/06/2018', time='19:00', team1='ARG', team2='CRO', group='D'), team1Score=0, team2Score=0),
 Result(match=Match(gameId='GD4', date='22/06/2018', time='16:00', team1='NGA', team2='ISL', group='D'), team1Score=3, team2Score=2),
 Result(match=Match(gameId='GD5', date='26/06/2018', time='19:00', team1='ISL', team2='CRO', group='D'), team1Score=2, team2Score=1),
 Result(match=Match(gameId='GD6', date='26/06/2018', time='19:00', team1='NGA', team2='ARG', group='D'), team1Score=0, team2Score=2),
 Result(match=Match(gameId='GE1', date='17/06/2018', time='13:00', team1='CRC', team2='SRB', group='E'), team1Score=2, team2Score=0),
 Result(match=Match(gameId='GE2', date='17/06/2018', time='19:00', team1='BRA', team2='SUI', group='E'), team1Score=2, team2Score=1),
 Result(match=Match(gameId='GE3', date='22/06/2018', time='13:00', team1='BRA', team2='CRC', group='E'), team1Score=2, team2Score=1),
 Result(match=Match(gameId='GE4', date='22/06/2018', time='19:00', team1='SRB', team2='SUI', group='E'), team1Score=0, team2Score=1),
 Result(match=Match(gameId='GE5', date='27/06/2018', time='19:00', team1='SRB', team2='BRA', group='E'), team1Score=2, team2Score=3),
 Result(match=Match(gameId='GE6', date='27/06/2018', time='19:00', team1='SUI', team2='CRC', group='E'), team1Score=2, team2Score=2),
 Result(match=Match(gameId='GF1', date='17/06/2018', time='16:00', team1='GER', team2='SWE', group='F'), team1Score=1, team2Score=2),
 Result(match=Match(gameId='GF2', date='18/06/2018', time='13:00', team1='MEX', team2='KOR', group='F'), team1Score=1, team2Score=2),
 Result(match=Match(gameId='GF3', date='23/06/2018', time='16:00', team1='GER', team2='MEX', group='F'), team1Score=2, team2Score=0),
 Result(match=Match(gameId='GF4', date='23/06/2018', time='19:00', team1='KOR', team2='SWE', group='F'), team1Score=0, team2Score=0),
 Result(match=Match(gameId='GF5', date='27/06/2018', time='15:00', team1='SWE', team2='MEX', group='F'), team1Score=1, team2Score=2),
 Result(match=Match(gameId='GF6', date='27/06/2018', time='15:00', team1='KOR', team2='GER', group='F'), team1Score=0, team2Score=0),
 Result(match=Match(gameId='GG1', date='18/06/2018', time='16:00', team1='BEL', team2='PAN', group='G'), team1Score=3, team2Score=1),
 Result(match=Match(gameId='GG2', date='18/06/2018', time='19:00', team1='TUN', team2='ENG', group='G'), team1Score=1, team2Score=3),
 Result(match=Match(gameId='GG3', date='23/06/2018', time='13:00', team1='BEL', team2='TUN', group='G'), team1Score=2, team2Score=1),
 Result(match=Match(gameId='GG4', date='24/06/2018', time='13:00', team1='ENG', team2='PAN', group='G'), team1Score=1, team2Score=1),
 Result(match=Match(gameId='GG5', date='28/06/2018', time='19:00', team1='ENG', team2='BEL', group='G'), team1Score=4, team2Score=1),
 Result(match=Match(gameId='GG6', date='28/06/2018', time='19:00', team1='PAN', team2='TUN', group='G'), team1Score=0, team2Score=0),
 Result(match=Match(gameId='GH1', date='19/06/2018', time='13:00', team1='POL', team2='SEN', group='H'), team1Score=2, team2Score=1),
 Result(match=Match(gameId='GH2', date='19/06/2018', time='16:00', team1='COL', team2='JPN', group='H'), team1Score=1, team2Score=2),
 Result(match=Match(gameId='GH3', date='24/06/2018', time='16:00', team1='JPN', team2='SEN', group='H'), team1Score=0, team2Score=1),
 Result(match=Match(gameId='GH4', date='24/06/2018', time='19:00', team1='POL', team2='COL', group='H'), team1Score=1, team2Score=0),
 Result(match=Match(gameId='GH5', date='28/06/2018', time='15:00', team1='SEN', team2='COL', group='H'), team1Score=1, team2Score=2),
 Result(match=Match(gameId='GH6', date='28/06/2018', time='15:00', team1='JPN', team2='POL', group='H'), team1Score=1, team2Score=1)]

In [49]:
df1 = pd.DataFrame()
for i in range(10000):
    groupresults_y, qualified_y = runGroupStage(schedule, predictions, teams)
    df1 = df.append(test)
    
df1['score'] = df1['team1Score'].map(str) + '-' + df1['team2Score'].map(str)

df1_grouped = df1.groupby('match')['score'].value_counts()
df1_grouped2 = df1_grouped.groupby('match').idxmax()
#display(tester.loc[tester.score.max()])
df1_grouped2 = pd.DataFrame(df1_grouped2)
pd.set_option('display.max_rows', 500)
df1_grouped2

                                                                              score
match
(GA1, 14/06/2018, 16:00, RUS, KSA, A)  ((GA1, 14/06/2018, 16:00, RUS, KSA, A), 2-1)
(GA2, 15/06/2018, 13:00, EGY, URU, A)  ((GA2, 15/06/2018, 13:00, EGY, URU, A), 2-1)
(GA3, 19/06/2018, 19:00, RUS, EGY, A)  ((GA3, 19/06/2018, 19:00, RUS, EGY, A), 1-1)
(GA4, 20/06/2018, 16:00, URU, KSA, A)  ((GA4, 20/06/2018, 16:00, URU, KSA, A), 1-2)
(GA5, 25/06/2018, 15:00, URU, RUS, A)  ((GA5, 25/06/2018, 15:00, URU, RUS, A), 1-2)
(GA6, 25/06/2018, 15:00, KSA, EGY, A)  ((GA6, 25/06/2018, 15:00, KSA, EGY, A), 1-2)
(GB1, 15/06/2018, 16:00, MAR, IRN, B)  ((GB1, 15/06/2018, 16:00, MAR, IRN, B), 1-2)
(GB2, 15/06/2018, 19:00, POR, ESP, B)  ((GB2, 15/06/2018, 19:00, POR, ESP, B), 1-1)
(GB3, 20/06/2018, 13:00, POR, MAR, B)  ((GB3, 20/06/2018, 13:00, POR, MAR, B), 2-1)
(GB4, 20/06/2018, 19:00, IRN, ESP, B)  ((GB4, 20/06/2018, 19:00, IRN, ESP, B), 1-2)
(GB5, 25/06/2018, 19:00, ESP, MAR, B)  ((GB5, 25/06/2018, 19:00, ESP, MAR, B), 2-1)
(GB6, 25/06/2018, 19:00, IRN, POR, B)  ((GB6, 25/06/2018, 19:00, IRN, POR, B), 1-1)
(GC1, 16/06/2018, 11:00, FRA, AUS, C)  ((GC1, 16/06/2018, 11:00, FRA, AUS, C), 2-1)
(GC2, 16/06/2018, 17:00, PER, DEN, C)  ((GC2, 16/06/2018, 17:00, PER, DEN, C), 1-2)
(GC3, 21/06/2018, 13:00, FRA, PER, C)  ((GC3, 21/06/2018, 13:00, FRA, PER, C), 2-1)
(GC4, 21/06/2018, 16:00, DEN, AUS, C)  ((GC4, 21/06/2018, 16:00, DEN, AUS, C), 1-1)
(GC5, 26/06/2018, 15:00, DEN, FRA, C)  ((GC5, 26/06/2018, 15:00, DEN, FRA, C), 1-2)
(GC6, 26/06/2018, 15:00, AUS, PER, C)  ((GC6, 26/06/2018, 15:00, AUS, PER, C), 2-1)
(GD1, 16/06/2018, 14:00, ARG, ISL, D)  ((GD1, 16/06/2018, 14:00, ARG, ISL, D), 2-1)
(GD2, 16/06/2018, 20:00, CRO, NGA, D)  ((GD2, 16/06/2018, 20:00, CRO, NGA, D), 1-1)
(GD3, 21/06/2018, 19:00, ARG, CRO, D)  ((GD3, 21/06/2018, 19:00, ARG, CRO, D), 1-1)
(GD4, 22/06/2018, 16:00, NGA, ISL, D)  ((GD4, 22/06/2018, 16:00, NGA, ISL, D), 2-1)
(GD5, 26/06/2018, 19:00, ISL, CRO, D)  ((GD5, 26/06/2018, 19:00, ISL, CRO, D), 1-2)
(GD6, 26/06/2018, 19:00, NGA, ARG, D)  ((GD6, 26/06/2018, 19:00, NGA, ARG, D), 1-1)
(GE1, 17/06/2018, 13:00, CRC, SRB, E)  ((GE1, 17/06/2018, 13:00, CRC, SRB, E), 1-2)
(GE2, 17/06/2018, 19:00, BRA, SUI, E)  ((GE2, 17/06/2018, 19:00, BRA, SUI, E), 2-1)
(GE3, 22/06/2018, 13:00, BRA, CRC, E)  ((GE3, 22/06/2018, 13:00, BRA, CRC, E), 3-1)
(GE4, 22/06/2018, 19:00, SRB, SUI, E)  ((GE4, 22/06/2018, 19:00, SRB, SUI, E), 1-2)
(GE5, 27/06/2018, 19:00, SRB, BRA, E)  ((GE5, 27/06/2018, 19:00, SRB, BRA, E), 1-2)
(GE6, 27/06/2018, 19:00, SUI, CRC, E)  ((GE6, 27/06/2018, 19:00, SUI, CRC, E), 2-1)
(GF1, 17/06/2018, 16:00, GER, SWE, F)  ((GF1, 17/06/2018, 16:00, GER, SWE, F), 2-1)
(GF2, 18/06/2018, 13:00, MEX, KOR, F)  ((GF2, 18/06/2018, 13:00, MEX, KOR, F), 2-1)
(GF3, 23/06/2018, 16:00, GER, MEX, F)  ((GF3, 23/06/2018, 16:00, GER, MEX, F), 2-1)
(GF4, 23/06/2018, 19:00, KOR, SWE, F)  ((GF4, 23/06/2018, 19:00, KOR, SWE, F), 1-1)
(GF5, 27/06/2018, 15:00, SWE, MEX, F)  ((GF5, 27/06/2018, 15:00, SWE, MEX, F), 1-1)
(GF6, 27/06/2018, 15:00, KOR, GER, F)  ((GF6, 27/06/2018, 15:00, KOR, GER, F), 1-2)
(GG1, 18/06/2018, 16:00, BEL, PAN, G)  ((GG1, 18/06/2018, 16:00, BEL, PAN, G), 3-1)
(GG2, 18/06/2018, 19:00, TUN, ENG, G)  ((GG2, 18/06/2018, 19:00, TUN, ENG, G), 1-2)
(GG3, 23/06/2018, 13:00, BEL, TUN, G)  ((GG3, 23/06/2018, 13:00, BEL, TUN, G), 2-1)
(GG4, 24/06/2018, 13:00, ENG, PAN, G)  ((GG4, 24/06/2018, 13:00, ENG, PAN, G), 3-1)
(GG5, 28/06/2018, 19:00, ENG, BEL, G)  ((GG5, 28/06/2018, 19:00, ENG, BEL, G), 1-2)
(GG6, 28/06/2018, 19:00, PAN, TUN, G)  ((GG6, 28/06/2018, 19:00, PAN, TUN, G), 1-2)
(GH1, 19/06/2018, 13:00, POL, SEN, H)  ((GH1, 19/06/2018, 13:00, POL, SEN, H), 2-1)
(GH2, 19/06/2018, 16:00, COL, JPN, H)  ((GH2, 19/06/2018, 16:00, COL, JPN, H), 1-2)
(GH3, 24/06/2018, 16:00, JPN, SEN, H)  ((GH3, 24/06/2018, 16:00, JPN, SEN, H), 2-1)
(GH4, 24/06/2018, 19:00, POL, COL, H)  ((GH4, 24/06/2018, 19:00, POL, COL, H), 2-1)
(GH5, 28/06/2018, 15:00, SEN, COL, H)  ((GH5, 28/06/2018, 15:00, SEN, COL, H), 1-1)
(GH6, 28/06/2018, 15:00, JPN, POL, H)  ((GH6, 28/06/2018, 15:00, JPN, POL, H), 1-1)

In [198]:
grptest = pd.DataFrame()
#for i in range(10):
 #   qualified = runGroupStage(schedule, predictions, teams)
 #   grptest = grptest.append(qualified, ignore_index=True)



df2 = pd.DataFrame()
for i in range(10000):
    groupresults_x, qualified_x = runGroupStage(schedule, predictions, teams)
    df2 = df.append(groupresults_x)
    
df2['score'] = df['team1Score'].map(str) + '-' + df['team2Score'].map(str)

df1_grouped = df2.groupby('match')['score'].value_counts()
df1_grouped2 = df1_grouped.groupby('match').idxmax()
#display(tester.loc[tester.score.max()])
df1_grouped2 = pd.DataFrame(test)
pd.set_option('display.max_rows', 500)
df1_grouped2

                                             score
match                                 score
(GA1, 14/06/2018, 16:00, RUS, KSA, A) 1-1     3316
                                      1-2     2654
                                      0-0     2618
                                      2-1     2338
                                      0-1     2151
                                      1-0     1858
                                      2-2      827
                                      2-3      673
                                      1-3      655
                                      3-2      602
                                      0-2      570
                                      3-1      523
                                      2-0      418
                                      2-4      167
                                      4-2      143
                                      3-3       85
                                      1-4       70
                                      4-3       62
                                      3-4       56
                                      4-1       45
                                      3-0       43
                                      0-3       42
                                      3-5       19
                                      2-5       16
                                      5-2       13
                                      5-3       11
                                      4-4        5
                                      5-1        4
                                      0-4        3
                                      1-5        3
                                      5-4        3
                                      2-6        2
                                      6-3        2
                                      3-6        1
                                      4-0        1
                                      4-5        1
(GA2, 15/06/2018, 13:00, EGY, URU, A) 1-1     3209
                                      2-1     3045
                                      0-0     2565
                                      1-0     2378
                                      1-2     2075
                                      0-1     1616
                                      3-1      899
                                      2-2      784
                                      3-2      776
                                      2-0      630
                                      2-3      499
                                      1-3      370
                                      0-2      295
                                      4-2      225
                                      4-1      106
                                      2-4       93
                                      3-0       88
                                      3-3       85
                                      4-3       64
                                      3-4       41
                                      1-4       38
                                      5-2       28
                                      5-3       26
                                      0-3       20
                                      5-1        9
                                      3-5        7
                                      1-5        6
                                      5-4        6
                                      2-5        5
                                      4-0        4
                                      4-6        2
                                      4-7        2
                                      6-2        2
                                      6-3        2
(GA3, 19/06/2018, 19:00, RUS, EGY, A) 1-1     3330
                                      1-2     3067
                                      0-0     2567
                                      0-1     2379
                                      2-1     2004
                                      1-0     1522
                                      1-3      904
                                      2-3      766
                                      2-2      746
                                      0-2      710
                                      3-2      466
                                      3-1      338
                                      2-0      275
                                      2-4      262
                                      1-4      116
                                      4-2      103
                                      0-3       91
                                      3-3       85
                                      3-4       79
                                      4-3       47
                                      2-5       32
                                      3-5       23
                                      4-1       23
                                      3-0       14
                                      5-2       12
                                      1-5        6
                                      5-3        6
                                      4-4        5
                                      4-5        5
                                      3-6        4
                                      0-4        3
                                      5-4        3
                                      2-6        2
                                      4-7        2
                                      3-7        1
                                      4-6        1
                                      5-6        1
(GA4, 20/06/2018, 16:00, URU, KSA, A) 1-2     3226
                                      1-1     3180
                                      0-0     2609
                                      0-1     2509
                                      2-1     1860
                                      1-0     1352
                                      1-3     1057
                                      2-3      798
                                      2-2      788
                                      0-2      756
                                      3-2      451
                                      3-1      280
                                      2-4      271
                                      2-0      247
                                      1-4      125
                                      0-3       99
                                      3-3       80
                                      3-4       78
                                      4-2       67
                                      2-5       37
                                      4-3       36
                                      3-5       34
                                      4-1       17
                                      1-5       12
                                      3-0        9
                                      5-2        5
                                      3-6        4
                                      5-3        4
                                      0-4        2
                                      2-6        2
                                      4-4        2
                                      3-7        1
                                      4-5        1
                                      4-6        1
(GA5, 25/06/2018, 15:00, URU, RUS, A) 1-1     3159
                                      2-1     3159
                                      0-0     2591
                                      1-0     2472
                                      1-2     1746
                                      0-1     1491
                                      3-1     1034
                                      2-0      847
                                      3-2      787
                                      2-2      766
                                      2-3      443
                                      1-3      306
                                      0-2      273
                                      4-2      256
                                      4-1      123
                                      3-0      106
                                      4-3       88
                                      3-3       87
                                      2-4       72
                                      5-2       42
                                      3-4       37
                                      5-3       30
                                      1-4       22
                                      0-3       16
                                      3-5        9
                                      5-1        9
                                      5-4        7
                                      4-0        4
                                      4-4        4
                                      4-5        3
                                      6-2        3
                                      2-5        2
                                      3-6        2
                                      6-3        2
                                      0-4        1
                                      4-6        1
(GA6, 25/06/2018, 15:00, KSA, EGY, A) 1-1     3174
                                      2-1     3159
                                      1-0     2557
                                      0-0     2509
                                      1-2     1799
                                      0-1     1507
                                      3-1      982
                                      3-2      820
                                      2-2      775
                                      2-0      761
                                      2-3      459
                                      1-3      332
                                      0-2      271
                                      4-2      246
                                      4-1      134
                                      3-0      100
                                      4-3       88
                                      3-3       78
                                      2-4       77
                                      3-4       40
                                      5-2       28
                                      5-3       27
                                      0-3       22
                                      1-4       17
                                      3-5        9
                                      5-1        7
                                      2-5        4
                                      4-4        3
                                      5-4        3
                                      6-4        3
                                      3-6        2
                                      4-5        2
                                      6-2        2
                                      0-4        1
                                      2-6        1
                                      6-3        1
(GB1, 15/06/2018, 16:00, MAR, IRN, B) 2-1     3388
                                      1-1     3062
                                      1-0     2708
                                      0-0     2466
                                      1-2     1554
                                      3-1     1224
                                      0-1     1223
                                      2-0      948
                                      3-2      822
                                      2-2      780
                                      2-3      370
                                      4-2      305
                                      1-3      239
                                      0-2      193
                                      4-1      191
                                      3-0      144
                                      4-3       84
                                      2-4       70
                                      3-3       68
                                      5-2       32
                                      5-3       28
                                      3-4       24
                                      1-4       17
                                      0-3       15
                                      5-1       12
                                      2-5        8
                                      4-0        8
                                      3-5        6
                                      4-4        4
                                      6-2        2
                                      6-3        2
                                      6-4        1
                                      7-3        1
                                      7-4        1
(GB2, 15/06/2018, 19:00, POR, ESP, B) 1-2     3857
                                      0-1     2972
                                      1-1     2366
...                                            ...
(GG6, 28/06/2018, 19:00, PAN, TUN, G) 2-3      579
                                      1-3      466
                                      0-2      389
                                      4-2      179
                                      2-4      107
                                      4-1      104
                                      3-3       95
                                      3-0       76
                                      3-4       57
                                      4-3       50
                                      1-4       45
                                      0-3       34
                                      5-2       25
                                      5-3       20
                                      3-5       16
                                      2-5        8
                                      5-1        5
                                      4-5        4
                                      4-0        3
                                      5-4        2
                                      6-4        2
                                      0-4        1
                                      1-5        1
                                      3-7        1
                                      4-4        1
                                      6-2        1
                                      6-3        1
(GH1, 19/06/2018, 13:00, POL, SEN, H) 1-1     3212
                                      1-2     3206
                                      0-1     2585
                                      0-0     2473
                                      2-1     1753
                                      1-0     1314
                                      1-3     1078
                                      2-3      843
                                      0-2      822
                                      2-2      790
                                      3-2      417
                                      2-4      287
                                      3-1      274
                                      2-0      225
                                      1-4      168
                                      0-3      127
                                      3-4       85
                                      3-3       75
                                      4-2       70
                                      4-3       55
                                      2-5       41
                                      3-5       28
                                      3-0       17
                                      4-1       12
                                      1-5       10
                                      3-6        7
                                      0-4        6
                                      5-3        6
                                      5-2        5
                                      4-4        4
                                      1-6        1
                                      2-6        1
                                      4-5        1
                                      5-1        1
                                      5-4        1
(GH2, 19/06/2018, 16:00, COL, JPN, H) 1-1     3337
                                      0-0     2685
                                      1-2     2586
                                      2-1     2381
                                      0-1     2182
                                      1-0     1838
                                      2-2      848
                                      2-3      670
                                      1-3      663
                                      3-2      593
                                      0-2      531
                                      3-1      490
                                      2-0      382
                                      2-4      172
                                      4-2      123
                                      3-3       90
                                      1-4       75
                                      3-4       63
                                      0-3       59
                                      4-3       57
                                      4-1       48
                                      3-0       38
                                      3-5       20
                                      2-5       18
                                      5-2       16
                                      5-3       16
                                      5-4        5
                                      1-5        3
                                      4-5        3
                                      6-3        2
                                      0-4        1
                                      2-6        1
                                      3-6        1
                                      4-0        1
                                      4-4        1
                                      5-1        1
(GH3, 24/06/2018, 16:00, JPN, SEN, H) 1-1     3227
                                      2-1     2883
                                      0-0     2600
                                      1-0     2235
                                      1-2     2222
                                      0-1     1744
                                      3-1      818
                                      2-2      798
                                      3-2      672
                                      2-0      625
                                      2-3      555
                                      1-3      454
                                      0-2      348
                                      4-2      193
                                      2-4       97
                                      4-3       96
                                      3-3       88
                                      4-1       85
                                      3-0       65
                                      3-4       58
                                      1-4       33
                                      0-3       27
                                      5-3       24
                                      5-2       15
                                      2-5        7
                                      3-5        7
                                      5-1        6
                                      5-4        4
                                      4-0        3
                                      4-4        2
                                      6-3        2
                                      6-4        2
                                      3-6        1
                                      4-5        1
                                      5-5        1
                                      6-2        1
                                      6-5        1
(GH4, 24/06/2018, 19:00, POL, COL, H) 1-2     3262
                                      1-1     3166
                                      0-1     2586
                                      0-0     2484

In [47]:
#test = df.groupby('match')['score'].value_counts()
#tester = test.groupby('match').idxmax()
#display(tester.loc[tester.score.max()])
#test1 = pd.DataFrame(test)

#grouped = df.groupby('match')
#display(grouped['team1Score'])

#pd.set_option('display.max_rows', 1000)
#for i in test:
#    print(i)

NameError: name 'groupresults' is not defined

In [45]:
import numpy as np
scores = df.groupby('match')[['team1Score', 'team2Score']]

most_freq = pd.DataFrame()
for i in df.match.unique():
    scores = df[['team1Score', 'team2Score']]
    scores, counts = np.unique(scores.values, return_counts=True, axis=0)
    scores = [str(x) for x in scores]
    freq = counts / 20000
    most_freq1 = most_freq.append(pd.DataFrame({'score': scores, 'count': counts, 'freq': freq}, columns=['score', 'count', 'freq']))
    
    
most_freq

Empty DataFrame
Columns: []
Index: []

In [23]:
for i in range(5):
    records, results = runGroupStage(schedule, predictions, teams)
    print(records)
    for rnd in ['AF','QF','SF','FN']:
        roundresults, results = runEliminationRound(rnd, results, schedule, predictions)
        print(roundresults)
gameId='GC2', date='16/06/2018', time='17:00', team1='PER', team2='DEN', group='C'

ValueError: too many values to unpack (expected 2)

In [9]:
records, results = runGroupStage(schedule, predictions, teams)
groupstages = pd.DataFrame(records)
#groupstages = groupstages.sort_values(by=['group', 'p'], ascending=['False', 'False'])
groupstages
groupstages = pd.DataFrame(records)
temp = pd.DataFrame()
temp['id'] = 0
for i in range(10):
    records, results = runGroupStage(schedule, predictions, teams)
    temp = temp.append(records)
    for j in temp['match']:
        if (temp['team1Score'] not in groupstages['team1Score'].values and temp['team2Score'] not in groupstages['team1Score']):
            temp['id'] += 1
        else:
            temp['id'] = temp['id']
    #groupstages = groupstages.append(pd.DataFrame(records))
    
#groupstages.groupby('match')[['team1Score', 'team2Score']].mean()

C:\Anaconda3\lib\site-packages\pandas\core\frame.py:5186: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  other = other.loc[:, self.columns]
C:\Anaconda3\lib\site-packages\pandas\core\indexing.py:1367: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

ValueError: Lengths must match to compare

In [3]:
import pandas as pd
worldcup_winnerfin = pd.read_csv('C:\\Data_Science\\World Cup 2018\\FIFA real world stats\\simresultsfinal.csv')
display(worldcup_winnerfin.groupby('winner', as_index=False).count().sort_values('iteration',ascending=False))

worldcup_winner23 = pd.read_csv('C:\\Data_Science\\World Cup 2018\\FIFA real world stats\\simresults23.csv')
display(worldcup_winner23.groupby('winner', as_index=False).count().sort_values('iteration',ascending=False))

worldcup_winner22 = pd.read_csv('C:\\Data_Science\\World Cup 2018\\FIFA real world stats\\simresults22.csv')
display(worldcup_winner22.groupby('winner', as_index=False).count().sort_values('iteration',ascending=False))

worldcup_winner21 = pd.read_csv('C:\\Data_Science\\World Cup 2018\\FIFA real world stats\\simresults21.csv')
display(worldcup_winner21.groupby('winner', as_index=False).count().sort_values('iteration',ascending=False))

worldcup_winner20 = pd.read_csv('C:\\Data_Science\\World Cup 2018\\FIFA real world stats\\simresults20.csv')
display(worldcup_winner20.groupby('winner', as_index=False).count().sort_values('iteration',ascending=False))

worldcup_winner19 = pd.read_csv('C:\\Data_Science\\World Cup 2018\\FIFA real world stats\\simresults19.csv')
display(worldcup_winner19.groupby('winner', as_index=False).count().sort_values('iteration',ascending=False))

worldcup_winner18 = pd.read_csv('C:\\Data_Science\\World Cup 2018\\FIFA real world stats\\simresults18.csv')
display(worldcup_winner18.groupby('winner', as_index=False).count().sort_values('iteration',ascending=False))

worldcup_winner17 = pd.read_csv('C:\\Data_Science\\World Cup 2018\\FIFA real world stats\\simresults17.csv')
display(worldcup_winner17.groupby('winner', as_index=False).count().sort_values('iteration',ascending=False))

worldcup_winner16 = pd.read_csv('C:\\Data_Science\\World Cup 2018\\FIFA real world stats\\simresults16.csv')
display(worldcup_winner16.groupby('winner', as_index=False).count().sort_values('iteration',ascending=False))

worldcup_winner15 = pd.read_csv('C:\\Data_Science\\World Cup 2018\\FIFA real world stats\\simresults15.csv')
display(worldcup_winner15.groupby('winner', as_index=False).count().sort_values('iteration',ascending=False))

worldcup_winner14 = pd.read_csv('C:\\Data_Science\\World Cup 2018\\FIFA real world stats\\simresults14.csv')
display(worldcup_winner14.groupby('winner', as_index=False).count().sort_values('iteration',ascending=False))

worldcup_winner13 = pd.read_csv('C:\\Data_Science\\World Cup 2018\\FIFA real world stats\\simresults13.csv')
display(worldcup_winner13.groupby('winner', as_index=False).count().sort_values('iteration',ascending=False))

worldcup_winner12 = pd.read_csv('C:\\Data_Science\\World Cup 2018\\FIFA real world stats\\simresults12.csv')
display(worldcup_winner12.groupby('winner', as_index=False).count().sort_values('iteration',ascending=False))

worldcup_winner11 = pd.read_csv('C:\\Data_Science\\World Cup 2018\\FIFA real world stats\\simresults11.csv')
display(worldcup_winner11.groupby('winner', as_index=False).count().sort_values('iteration',ascending=False))

worldcup_winner10 = pd.read_csv('C:\\Data_Science\\World Cup 2018\\FIFA real world stats\\simresults10.csv')
display(worldcup_winner10.groupby('winner', as_index=False).count().sort_values('iteration',ascending=False))

worldcup_winner9 = pd.read_csv('C:\\Data_Science\\World Cup 2018\\FIFA real world stats\\simresults9.csv')
display(worldcup_winner9.groupby('winner', as_index=False).count().sort_values('iteration',ascending=False))

worldcup_winner8 = pd.read_csv('C:\\Data_Science\\World Cup 2018\\FIFA real world stats\\simresults8.csv')
display(worldcup_winner8.groupby('winner', as_index=False).count().sort_values('iteration',ascending=False))

worldcup_winner7 = pd.read_csv('C:\\Data_Science\\World Cup 2018\\FIFA real world stats\\simresults7.csv')
display(worldcup_winner7.groupby('winner', as_index=False).count().sort_values('iteration',ascending=False))

   winner  iteration
12    GER       3696
3     BRA       3588
10    ESP       2556
27    SUI       1890
23    POR       1859
9     ENG       1234
11    FRA       1030
2     BEL       1015
26    SRB        648
13    IRN        496
6     CRO        359
8     EGY        307
7     DEN        217
1     AUS        172
22    POL        137
20    NGA         84
0     ARG         74
24    RUS         50
15    JPN         49
19    MEX         46
28    SWE         46
29    TUN         45
16    KOR         10
14    ISL          8
21    PER          6
4     COL          6
18    MAR          5
17    KSA          2
30    URU          2
25    SEN          1
5     CRC          1

   winner  iteration
3     BRA      18285
12    GER      14149
10    ESP      11470
11    FRA       7822
0     ARG       6853
5     CRC       6466
9     ENG       5725
19    MEX       3161
1     AUS       3114
20    NGA       2056
31    URU       1851
8     EGY       1787
30    TUN       1698
18    MAR       1585
13    IRN       1549
17    KSA       1516
16    KOR       1432
21    PAN       1383
15    JPN       1157
24    POR       1157
28    SUI       1146
22    PER        973
6     CRO        626
2     BEL        521
26    SEN        517
29    SWE        372
7     DEN        342
4     COL        259
27    SRB        135
23    POL        112
14    ISL         89
25    RUS         46

   winner  iteration
19    MEX       3634
0     ARG       1823
9     ENG       1733
3     BRA       1711
5     CRC       1629
12    GER       1405
30    TUN        811
16    KOR        760
10    ESP        719
15    JPN        698
13    IRN        624
4     COL        600
22    PER        572
2     BEL        418
28    SUI        343
6     CRO        265
31    URU        223
1     AUS        222
21    PAN        212
23    POL        191
20    NGA        167
26    SEN        151
11    FRA        146
18    MAR        145
8     EGY        138
27    SRB         66
7     DEN         54
24    POR         50
29    SWE         46
14    ISL         43
17    KSA         38
25    RUS          2

   winner  iteration
20    NGA       4584
16    KOR       3544
21    PAN       2253
15    JPN       2243
25    RUS        981
18    MAR        872
27    SRB        706
30    TUN        650
26    SEN        488
5     CRC        383
1     AUS        351
29    SWE        347
17    KSA        323
7     DEN        274
9     ENG        270
3     BRA        251
28    SUI        148
19    MEX        142
13    IRN        136
14    ISL        115
12    GER         84
10    ESP         66
6     CRO         60
4     COL         59
8     EGY         58
0     ARG         49
2     BEL         43
24    POR         39
22    PER         37
11    FRA         37
31    URU         33
23    POL         13

   winner  iteration
3     BRA       2167
12    GER       2152
28    SUI       1095
19    MEX        991
4     COL        985
9     ENG        978
10    ESP        871
11    FRA        856
15    JPN        829
23    POL        819
30    TUN        733
2     BEL        682
16    KOR        678
6     CRO        656
0     ARG        610
24    POR        592
5     CRC        536
20    NGA        457
27    SRB        452
13    IRN        371
26    SEN        360
21    PAN        301
29    SWE        297
22    PER        268
14    ISL        241
7     DEN        207
18    MAR        137
31    URU        120
1     AUS        117
8     EGY         60
17    KSA         15
25    RUS          6

   winner  iteration
15    JPN       2110
4     COL       1522
19    MEX       1480
9     ENG       1371
3     BRA       1363
12    GER       1218
16    KOR       1071
30    TUN       1051
28    SUI        838
5     CRC        702
2     BEL        692
0     ARG        653
6     CRO        634
10    ESP        523
27    SRB        498
23    POL        458
26    SEN        445
11    FRA        409
20    NGA        351
14    ISL        316
13    IRN        301
29    SWE        294
24    POR        253
22    PER        245
21    PAN        238
7     DEN        179
1     AUS        133
18    MAR        104
31    URU        104
8     EGY         71
25    RUS          6
17    KSA          6

   winner  iteration
9     ENG       1825
12    GER       1515
3     BRA       1416
15    JPN       1391
19    MEX       1315
0     ARG        922
4     COL        922
30    TUN        818
28    SUI        810
2     BEL        777
10    ESP        743
16    KOR        742
29    SWE        705
27    SRB        661
6     CRO        644
23    POL        577
5     CRC        525
11    FRA        520
26    SEN        494
14    ISL        384
20    NGA        344
24    POR        340
7     DEN        318
13    IRN        213
22    PER        159
21    PAN        159
1     AUS        115
18    MAR        110
31    URU         70
25    RUS         60
8     EGY         38
17    KSA          7

   winner  iteration
9     ENG       2899
3     BRA       2465
12    GER       2456
15    JPN       2273
19    MEX       1965
0     ARG       1502
4     COL       1453
30    TUN       1384
16    KOR       1375
28    SUI       1083
10    ESP       1037
2     BEL        939
5     CRC        844
29    SWE        806
6     CRO        757
11    FRA        732
20    NGA        697
27    SRB        651
23    POL        640
26    SEN        618
24    POR        446
14    ISL        407
21    PAN        362
7     DEN        350
13    IRN        323
1     AUS        230
22    PER        229
18    MAR        189
31    URU         82
25    RUS         60
8     EGY         46
17    KSA         24

   winner  iteration
9     ENG        976
3     BRA        925
12    GER        785
15    JPN        757
19    MEX        634
0     ARG        509
4     COL        481
16    KOR        476
30    TUN        466
28    SUI        354
10    ESP        323
2     BEL        319
29    SWE        291
11    FRA        266
6     CRO        253
5     CRC        252
23    POL        235
27    SRB        229
20    NGA        224
26    SEN        212
24    POR        164
14    ISL        148
7     DEN        134
13    IRN        116
21    PAN        111
22    PER         85
1     AUS         69
18    MAR         64
31    URU         32
25    RUS         24
8     EGY         24
17    KSA         11

   winner  iteration
9     ENG       1390
12    GER       1320
3     BRA        776
10    ESP        663
0     ARG        608
19    MEX        437
15    JPN        421
4     COL        417
29    SWE        394
2     BEL        367
28    SUI        343
11    FRA        329
23    POL        293
6     CRO        264
27    SRB        255
24    POR        229
30    TUN        221
16    KOR        210
14    ISL        173
5     CRC        163
7     DEN        156
20    NGA        152
26    SEN        114
21    PAN         90
22    PER         37
1     AUS         34
13    IRN         31
18    MAR         27
25    RUS         16
31    URU         12
8     EGY          6
17    KSA          1

   winner  iteration
12    GER        843
9     ENG        794
3     BRA        766
10    ESP        610
15    JPN        607
19    MEX        558
4     COL        502
16    KOR        471
0     ARG        416
28    SUI        392
30    TUN        367
5     CRC        350
24    POR        309
2     BEL        303
11    FRA        302
27    SRB        274
6     CRO        268
26    SEN        231
29    SWE        187
20    NGA        187
13    IRN        179
23    POL        169
14    ISL        150
7     DEN        147
21    PAN        126
22    PER        112
1     AUS        106
18    MAR         80
31    URU         76
8     EGY         49
25    RUS         10
17    KSA          8

   winner  iteration
12    GER       1087
3     BRA        978
9     ENG        711
15    JPN        673
4     COL        545
10    ESP        513
28    SUI        415
11    FRA        408
16    KOR        408
19    MEX        403
30    TUN        349
5     CRC        326
6     CRO        297
23    POL        288
20    NGA        278
24    POR        269
2     BEL        230
0     ARG        223
21    PAN        220
27    SRB        214
26    SEN        192
29    SWE        175
14    ISL        153
13    IRN        150
22    PER        134
7     DEN        110
18    MAR         60
1     AUS         50
31    URU         39
8     EGY         37
17    KSA          9
25    RUS          5

   winner  iteration
12    GER        917
15    JPN        841
3     BRA        714
9     ENG        702
19    MEX        547
20    NGA        539
28    SUI        527
2     BEL        514
30    TUN        451
27    SRB        442
5     CRC        350
13    IRN        341
6     CRO        335
11    FRA        328
16    KOR        287
10    ESP        260
8     EGY        257
29    SWE        253
26    SEN        224
24    POR        217
23    POL        215
4     COL        187
0     ARG        137
7     DEN        136
1     AUS         61
18    MAR         38
14    ISL         36
21    PAN         26
31    URU         24
22    PER         18
25    RUS         15
17    KSA         10

   winner  iteration
12    GER       1351
9     ENG        891
2     BEL        890
3     BRA        846
28    SUI        730
15    JPN        530
6     CRO        425
11    FRA        395
27    SRB        385
23    POL        363
19    MEX        343
10    ESP        337
24    POR        298
30    TUN        292
13    IRN        287
20    NGA        256
29    SWE        247
26    SEN        177
0     ARG        150
4     COL        138
16    KOR        134
5     CRC        129
8     EGY        121
7     DEN        121
1     AUS         22
14    ISL         21
22    PER         20
18    MAR         20
31    URU         13
21    PAN         11
25    RUS          5
17    KSA          1

   winner  iteration
12    GER       2416
3     BRA       2121
28    SUI       1545
2     BEL       1218
9     ENG       1119
24    POR       1080
10    ESP        985
27    SRB        895
11    FRA        856
13    IRN        747
6     CRO        654
19    MEX        647
15    JPN        585
7     DEN        521
8     EGY        487
0     ARG        485
5     CRC        434
30    TUN        434
20    NGA        400
29    SWE        376
23    POL        281
26    SEN        243
1     AUS        230
16    KOR        181
31    URU        161
4     COL        127
22    PER        122
14    ISL         96
18    MAR         90
25    RUS         54
17    KSA         36
21    PAN         13

   winner  iteration
3     BRA       2088
12    GER       2012
28    SUI       1582
24    POR       1261
9     ENG       1114
2     BEL       1092
10    ESP       1070
11    FRA       1000
27    SRB        919
13    IRN        731
6     CRO        699
19    MEX        656
8     EGY        547
7     DEN        537
5     CRC        490
20    NGA        475
15    JPN        473
30    TUN        432
0     ARG        395
29    SWE        355
23    POL        306
26    SEN        240
1     AUS        227
16    KOR        225
31    URU        174
4     COL        123
22    PER        114
18    MAR        109
14    ISL        101
25    RUS         43
17    KSA         34
21    PAN         15

   winner  iteration
12    GER       2207
3     BRA       2147
28    SUI       1505
24    POR       1236
2     BEL       1061
10    ESP       1056
9     ENG       1040
27    SRB        968
11    FRA        914
13    IRN        841
19    MEX        738
6     CRO        621
7     DEN        585
8     EGY        569
5     CRC        513
20    NGA        497
15    JPN        451
30    TUN        377
0     ARG        343
23    POL        281
29    SWE        269
1     AUS        248
26    SEN        204
31    URU        201
16    KOR        193
4     COL        135
22    PER        123
18    MAR        117
14    ISL         89
17    KSA         70
25    RUS         30
21    PAN         10

   winner  iteration
3     BRA       2123
12    GER       2042
28    SUI       1296
24    POR       1078
9     ENG       1043
27    SRB        993
2     BEL        988
10    ESP        929
11    FRA        828
13    IRN        810
19    MEX        719
6     CRO        677
15    JPN        629
20    NGA        623
7     DEN        621
8     EGY        617
5     CRC        579
30    TUN        468
1     AUS        344
23    POL        301
29    SWE        301
26    SEN        297
16    KOR        291
0     ARG        262
18    MAR        187
31    URU        138
4     COL        109
14    ISL        104
22    PER         86
17    KSA         82
25    RUS         48
21    PAN         26

In [188]:
worldcup_winner = pd.read_csv('C:\\Data_Science\\World Cup 2018\\FIFA real world stats\\simresults.csv')
worldcup_winner2 = pd.read_csv('C:\\Data_Science\\World Cup 2018\\FIFA real world stats\\simresults2.csv')
worldcup_winner3 = pd.read_csv('C:\\Data_Science\\World Cup 2018\\FIFA real world stats\\simresults3.csv')
worldcup_winner4old = pd.read_csv('C:\\Data_Science\\World Cup 2018\\FIFA real world stats\\simresults4old.csv')
worldcup_winner5 = pd.read_csv('C:\\Data_Science\\World Cup 2018\\FIFA real world stats\\simresults5.csv')
worldcup_winner6 = pd.read_csv('C:\\Data_Science\\World Cup 2018\\FIFA real world stats\\simresults6.csv')
display(worldcup_winner6.groupby('winner', as_index=False).count().sort_values('iteration',ascending=False))

#display(worldcup_winner5.groupby('winner', as_index=False).count().sort_values('iteration',ascending=False))
#display(worldcup_winner4old.groupby('winner', as_index=False).count().sort_values('iteration',ascending=False))
#display(worldcup_winner.groupby('winner', as_index=False).count().sort_values('iteration',ascending=False))
#display(worldcup_winner2.groupby('winner', as_index=False).count().sort_values('iteration',ascending=False))
#display(worldcup_winner3.groupby('winner', as_index=False).count().sort_values('iteration',ascending=False))

   winner  iteration
25    RUS       2425
24    POR       1988
28    SUI       1721
3     BRA       1512
8     EGY       1433
10    ESP       1398
11    FRA       1233
12    GER       1050
1     AUS        963
31    URU        715
0     ARG        565
5     CRC        442
27    SRB        431
13    IRN        421
17    KSA        395
9     ENG        370
7     DEN        364
18    MAR        332
19    MEX        304
22    PER        276
2     BEL        272
6     CRO        234
30    TUN        146
29    SWE        138
23    POL        136
20    NGA        130
21    PAN         59
14    ISL         59
15    JPN         42
26    SEN         36
16    KOR         36
4     COL         13

   winner  iteration
11    FRA       1727
24    POR       1655
28    SUI       1601
3     BRA       1529
10    ESP       1481
12    GER       1281
9     ENG        895
5     CRC        795
13    IRN        765
31    URU        683
2     BEL        680
27    SRB        641
0     ARG        631
1     AUS        629
19    MEX        619
6     CRO        562
8     EGY        541
7     DEN        425
25    RUS        376
22    PER        311
23    POL        274
29    SWE        264
18    MAR        241
30    TUN        232
20    NGA        161
16    KOR        149
15    JPN        126
17    KSA        107
26    SEN         97
14    ISL         84
4     COL         41
21    PAN         36